@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ProjectItem>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	// Only use Master layout when not ajax
	Layout = (Request.Params["ajax"] == "true") ? null : "Master.cshtml";
}
<div class="row" id="article-body">
	<div class="col-xs-12">
		<h1>@Umbraco.Field("pageName")</h1>
		<h2>Status: @Umbraco.Field("status")</h2>
		<p class="codeSnippet">@Umbraco.Field("devLog")</p>	
	</div>
	<div class="col-xs-12">
		<div class="col-md-4">
			@{int imgID = Int32.Parse(Convert.ToString(Umbraco.Field("image", recursive: false))); }
			<img src="@Umbraco.Media(imgID).umbracoFile" class="img-responsive">	
		</div>	
		@Umbraco.Field("description")	
	</div>
</div>
@{int bgID = Int32.Parse(Convert.ToString(Umbraco.Field("backgroundImage", recursive: true))); }
<input type="hidden" id="background-res" value="@Umbraco.Media(bgID).umbracoFile" data-pageurl="@CurrentPage.Parent.Url">